<div class="border">
    <div class="card container-big">
        <img [src]="course.image" class="card-img-top fixed-size-image" alt="no-image">
        <div class="card-body">
            <h2 class="card-title">{{ course.name }}</h2>
            <p class="card-description">{{ course.category }}</p>
        </div>
        <div class="card-body-down">            
            <h4 class="card-duration">Duración: {{ course.durationHours }} Hs.</h4>
        </div>
        <div class="card-body">
            <button class="btn btn-primary" (click)="goToCourse(course.id)">Ir al Curso</button>
            <button class="btn btn-primary" (click)="inscribirseAlCurso()">Inscribirse</button>
        </div>
    </div>
</div>