<app-navbar></app-navbar>
<div class="wrapper">
    <div class="row align-items-center">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">
                    <h1>Crear tu cuenta gratis</h1>
                </h1>
            </div>

            <form #registrationForm="ngForm" (submit)="registerUser();" ngNativeValidate>
                <div class="form-row mb-2">
                    <div class="form-group col-12">
                        <input type="text" [(ngModel)]="firstName" name="firstName" class="form-control" required
                            class="form-control" placeholder="Nombre" minlength="2">
                    </div>

                    <div class="form-group col-12">
                        <input type="text" [(ngModel)]="lastName" name="lastName" class="form-control" required
                            class="form-control" placeholder="Apellido" minlength="2">
                    </div>

                    <div class="form-group col-12">
                        <input type="email" [(ngModel)]="email" name="email" class="form-control" required
                            class="form-control" placeholder="Correo electrónico" minlength="6">
                    </div>

                    <div class="form-group col-12">
                        <input type="password" [(ngModel)]="password" name="password" class="form-control" required
                            class="form-control" placeholder="Contraseña" minlength="8">
                    </div>

                    <div class="form-group col-12">
                        <div class="form-check custom-checkbox">
                            <input type="checkbox" [(ngModel)]="acceptedTerms" name="acceptedTerms"
                                class="form-check-input" required>
                            <label class="form-check-label text-muted">Acepto los términos y condiciones</label>
                        </div>

                        <div
                            *ngIf="registrationForm.controls.acceptedTerms?.invalid && registrationForm.controls.acceptedTerms.dirty">
                            <div class="error-text">
                                {{ acceptedTermsErrorMessage }}
                            </div>
                        </div>
                        <button type="submit" class="btn-custom">Registrarse</button>
                        <div class="link-login text-center mt-3">
                        <a routerLink="/login">¿Ya tienes cuenta? Ingresa aquí</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>