:root{
    --color-dark: #15181f;
    --color-dark-x:#2d343f;
    --color-dark-xx:#1f232b;
    --color-light: #ffffff;
    --color-grey: #f5f6f8;
    --color-LightBlue:#ADD8E6;
    --color-darkblue:#00008B;
    --color-OrangeRed:	#FF4500;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;

}
.container{
    font-family: 'Roboto', sans-serif;    
    background-color:#ADD8E6;
    color:#15181f; 
    transition: all is ease;
    background-size:cover;
    position:relative;
    width: 100%;
    min-height: 100%;
    min-width: 100%;
    max-width: 900px;
    max-height: 900px;
}
.row{
    background-color:#ADD8E6;
    display: flex;
    justify-content: center;
    border:3px 3px 4px #15181f; 
    border-radius: 10%;
}
form{
    box-shadow:3px 3px 4px 4px #15181f;
    padding: 50px;
    margin: 50px;
}
h1{
    justify-content: center;
    margin: 50px;
}
h3,p{
    justify-content: center;
    margin: 15px;
    border: 15px;
}
.icons{
    margin: 50px;
}
.icons i{
    padding: 15px;
    margin: 10px 10px;
    cursor: pointer;
    transition: 0.3s ease;
}
.card{
    justify-content: center;
    background-color: #F5DEB3;
}
/*formulario*/

.form-check-label{
    font-size: 2rem;
    cursor: pointer;
}
.form-ckeck label input:checked ~ samp{
    box-shadow: 0px 0px 30px 0px blue;

}
.form-check-input span::after {
    content: "";
    position: absolute;
    border: solid white;
    border-width: 0 0.30em 0.30em 0;
    transform: rotate(45deg);
    width: 0.50em;
    height: 1em;
    left: 0.6em;
    top: 0.25em;
    opacity: 0;
    transition: 0.3s ease;
}
.form-check label input::checked * span::after{
    opacity: 1;
}
